@import url('https://fonts.googleapis.com/css2?family=Artifika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Artifika&family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Artifika&family=Kaushan+Script&family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Artifika&family=Kaushan+Script&family=Montserrat:wght@100&family=PT+Sans+Narrow&display=swap');
* {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: rgb(248, 238, 238);
    width: 15vw;
    /*font-family: 'Artifika', serif;*/ 
    font-size:3px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;

    height: 100hv;
}

.sidebar nav {
    padding: 30px;
}

.sidebar nav li {

    list-style-type: none;
    font-size: 20px;
    padding: 23px 0;
    

}
.sidebar nav li a{
    text-decoration: none;
    color:black;
}

.main {
    /*background-color: rgb(138, 247, 43);*/
    /*add video here*/
    /*<video autoPlay loop muted plays-inline>
    <source src="assets\devstandingvid.mp4" type="video/mp4">
    </video>*/
    width: 90vw;
}

.container {
    display: flex;
}

.infoContainer{
    background-color:aqua;
    border-radius: 1.8vh;
    height: 78vh;
    width: 80vw;
    margin: 65px auto;
    display: flex;
    justify-content :space-around;
}

.devInfo{
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.hello{
  font-size:65px;
  font-family: 'Artifika', serif;
}
.name{
  font-size:55px;
  font-weight: bold;
  font-family: 'Kaushan Script', cursive;
}
.about{
  font-size: 45px;
  font-family: 'Montserrat', sans-serif;
}
.moreabout{
    font-weight: lighter;
    font-size:1.2vw;
    font-family: 'Kaushan Script', cursive;
}
.buttons{
margin-top:34px;
}
.buttons button{
    padding:6px ;
    border-radius: 25px;
    color: rgb(34, 39, 36);
    background-color: rgb(139, 228, 240);
    font-weight: bold;
    font-family: cursive;
    font-size:10.3px;
    margin:0.3px;

}

.buttons button:hover{
    background-color:rgb(23, 221, 152);
    color:rgb(82, 82, 82);
}

.devPic img{

    width: 82vh;
}